.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;

  &__icon {
    position: absolute;
    fill: $primary-color;
    width: 15px;
    height: 15px;
    bottom: 8px;
    right: 6px;
    cursor: pointer;
  }

  &__icon:hover {
    stroke: $goit-color;
  }
}

.form input {
  width: 100%;
  height: 100%;
  background: none;
  color: $primary-color;
  border: none;
  padding-top: 20px;
  outline: 0px;
}

.form .lbl-nombre {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid $primary-color;
}

.form .lbl-nombre::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid $goit-color;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.text-nomb {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: $primary-color;
}

.form input:focus + .lbl-nombre .text-nomb,
.form input:valid + .lbl-nombre .text-nomb {
  transform: translateY(-150%);
  font-size: 14px;
  color: $goit-color;
}

.form input:focus + .lbl-nombre::after,
.form input:valid + .lbl-nombre::after {
  transform: translateX(0%);
}

@media screen and (max-width: 767px) {
  .formulario {
    width: 90%;
    margin: 0 auto;
  }
}
