.header {
    width: 100%;
    height: 230px;
    // padding-left: 71px;
    padding-top: 41px;
    background-size: cover;
    align-items: center;

    &__library {
        width: 100%;
        height: 230px;
        // padding-left: 71px;
        padding-top: 41px;
        background-size: cover;
        background-position: right bottom;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }

    &__icon {
        fill: $svg-film;
        transition: fill 250ms $cubic;

        &:hover {
            fill: $goit-color;
        }
    } 

    
    &__menu {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        width: 15%;
    }

    &__link {
        font-size: 30px;
        font-weight: 500;
        color: $primary-color;
        margin-left: 10px;
    }

    &__nav {
        font-size: 12px;
        display: flex;
        color: $primary-color;
        position: relative;

        &::after {
            content: '';
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -4px;
            right: 0;
            background: $goit-color;
            transition: width 0.5s, left 0.5s;
        }

        &:hover::after {
            width: 100%;
            left: 0;
        }

    }

    &__buton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 15px;
        cursor: pointer;
    }
}


/* --------------Pages library----------------- */

.button {
    
    &__watched{
        width: 136px;
        height: 44px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 16px;
        border: 1px solid #fff;
        text-transform: uppercase;
        flex-shrink: 0;
        background-color: transparent;
        cursor: pointer;
        color: $primary-color;
        transition: background-color 250ms $cubic;
    }

    &__queue {
        width: 136px;
        height: 44px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 16px;
        border: 1px solid #fff;
        text-transform: uppercase;
        flex-shrink: 0;
        background-color: transparent;
        cursor: pointer;
        color: $primary-color;
        transition: background-color 250ms $cubic;
    }
}


.button__watched:focus,
.button__watched:hover {
    background-color: $goit-color;
    border: none;
}

.button__queue:focus,
.button__queue:hover {
    background-color: $goit-color;
    border: none;
}


@media screen and (max-width: 767px) {
    .header{
        background-image: url(/src/images/mobile/image-header-movil.jpg);
        
        &__library{
            background-image: url(/src/images/mobile/image-library-movil.jpg);
        }

        &__menu {
            width: 50%;
        }

        &__link {
            visibility: hidden;
        }

        &__icon {
            position: absolute;
        }
    }
}

@media screen and (min-width: 768px) {
    .header{
        background-image: url(/src/images/tablet/image-header-tablet.jpg);

        &__library{
            background-image: url(/src/images/tablet/image-library-tablet.jpg);
        }

        &__menu {
            width: 20%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header{
        background-image: url(/src/images/desktop/image-header-desktop.jpg);

        &__library{
            background-image: url(/src/images/desktop/image-library-desktop.jpg);
        }

        &__menu {
            width: 15%;
        }
    }

}

