.modalMovies {
  width: 882px;
  height: 568px;
  background: $primary-color;
  position: relative;
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.is-hidden {
  display: none;
}

.boton-cerrar {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: $primary-color;
  border: none;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    background-color: $goit-color;
    border-radius: 50%;
    color: $primary-color;
    transition: background-color 250ms var(--cubic);
  }
}

.modalTitle {
  left: 456px;
  top: 30px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: $black;
  font-family: Roboto;
  position: absolute;
  text-transform: uppercase;
}

.modalImg {
  width: 396px;
  height: 477.803px;
  position: absolute;
  left: 30px;
  top: 50px;
  border-radius: 5px;
}

.modaData {
  color: $svg-film;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  left: 456px;
  top: 101px;
  line-height: 32px;
  height: 120px;
  width: 70px;
  overflow: hidden;
}

.modaDataValue {
  height: 90px;
  width: 70px;
  right: 200px;
  top: 136px;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  color: $black;
  font-family: Roboto;
  position: absolute;
  overflow: hidden;
}

.modaDataoverview {
  width: 396px;
  height: 160px;
  color: $black;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  position: absolute;
  right: 30px;
  top: 241px;
  overflow: hidden;
}

.modalDataButton2 {
  border-radius: 5px;
  border: 1px solid $black;
  width: 136px;
  height: 44px;
  position: absolute;
  right: 139px;
  top: 422px;
}

.modalDataButton1 {
  border-radius: 5px;
  border: 1px solid $black;
  width: 136px;
  height: 44px;
  position: absolute;
  right: 290px;
  top: 422px;
}

.modalDataButton1:hover {
  color: $primary-color;
  border-radius: 5px;
  background-color: $goit-color;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
  border: none;
}

.modalDataButton2:hover {
  color: $primary-color;
  border-radius: 5px;
  background-color: $goit-color;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Color negro con 60% de opacidad */
  z-index: 2; /* Asegura que la capa esté en frente de otros elementos */
}

.vote {
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background: $goit-color;
  color: $primary-color;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  right: 237px;
  top: 110px;
  position: absolute;
  overflow: hidden;
}

.votes {
  width: 50px;
  height: 14px;
  color: $black;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  left: 640px;
  top: 110px;
}

@media screen and (max-width: 915px) {
  .modalMovies {
    width: 618px;
    height: 562px;
  }

  .modalImg {
    width: 264px;
    height: 373.551px;
  }

  .modalTitle {
    font-size: 17px;
    left: 320px;
    position: absolute;
  }

  .modaDataValue {
    font-size: 14px;
    left: 420px;
    position: absolute;
  }
  .modaData {
    left: 320px;
    position: absolute;
  }

  .vote {
    position: absolute;
    left: 420px;
  }
  .modaDataoverview {
    margin-top: 20px;
    width: 264px;
  }
  .modalDataButton2 {
    position: absolute;
    font-size: 12px;
    right: 29px;
    margin-top: 40px;
    width: 120px;
    height: 44px;
  }
  .modalDataButton1 {
    position: absolute;
    font-size: 12px;
    right: 175px;
    margin-top: 40px;
    width: 120px;
    height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .modalMovies {
    width: 280px;
    height: 958px;
  }
  .modalImg {
    width: 240px;
    height: 356px;
    margin: 20px auto;
    padding-right: 15px;
  }

  .modalTitle {
    padding-right: 15px;
    font-size: 17px;
    left: 32px;
    top: 430px;
    position: absolute;
  }

  .modaDataValue {
    font-size: 14px;
    left: 150px;
    top: 533px;
    position: absolute;
  }
  .modaData {
    left: 32px;
    top: 500px;
    position: absolute;
  }

  .vote {
    left: 150px;
    top: 505px;
    position: absolute;
  }
  .modaDataoverview {
    margin: 20px auto;
    padding-left: 18px;
    width: 240px;
    height: 236px;
    top: 625px;
    margin: 15px auto;
    position: absolute;
  }
  .modalDataButton2 {
    font-size: 12px;
    top: 800px;
    margin-top: 40px;
    width: 105px;
    height: 44px;
    position: absolute;
  }
  .modalDataButton1 {
    font-size: 12px;
    top: 800px;
    margin-top: 40px;
    width: 105px;
    height: 44px;
    left: 25px;
    position: absolute;
  }

  .boton-cerrar {
    margin-top: 20px;
    margin-right: 6px;
  }
}
