.divImg {
  width: 290px;
  height: auto;
}
.movies {
  border-radius: 20px;
}

.imagenes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.imgName {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 10px;
  margin: 0px;
}

.imgDate {
  color: #ff6b08;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px;
  margin: 0px;
}

.imgGenero {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.button-pages {
  width: 40px;
  height: 40px;
  color: $black;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  border-radius: 5px;
  background: $background-footer;
  border-color: $background-footer;
  border: $background-footer;

  &:hover {
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border-radius: 5px;
    background: $goit-color;
    border: $background-footer;
  }

  &-select {
    width: 40px;
    height: 40px;
    color: $primary-color;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border-radius: 5px;
    background: $goit-color;
  }
}

.firstButton {
  padding: 0px;
}

.botones {
  margin-left: 0px;
  padding: 0px;
}

.lastButton {
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .botones {
    display: none;
  }
}
